#offered-business-cards {
    margin-top: 50px;
  .card-content {
    padding: 40px 24px 40px 32px;
    margin-bottom: 32px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 8px;
    background-color: #fff;
    .card-content-dropdown{
        margin-left: 30px;
        border-top: rgb(221, 221, 221) 1px solid;
        .card-content-dropdown-bottomtext{
          h6{
            color: rgb(92, 92, 92);
          }
            color: gray;
            margin-top: 20px;
        }
        .card-serve-list{
            margin-top: 40px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          .serve{
            display: flex;
            flex-direction: row;
            width: 48%;
            margin-top: 20px;
            
            img{
                margin-right: 20px;
                height: 67px;
                width: 67px;
            }
          }  
        }
    }
    .card-content-title{
        display: flex;
    flex-direction: row;
    justify-content: center;
    

    }
    
    .card-img {
      width: 40%;
    }
    .card-information {
      .card-deadline {
        display: flex;
        justify-content: space-between;
        p{
            color: gray;

        }
        span{
            font-weight: 500;

        }
      }
    }
    .card-info-buttons {
      margin-top: 40px;
      a {
        margin-right: 20px;
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        border: none;
        width: 128px;
        height: 48px;
        padding: 16px;
        background: #058d66;
        color: #fff;
      }
      a:hover {
        background-color: #00af7e;
        transition: 1s;
      }
      button {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.1px;
        font-weight: 600;
        border-radius: 6px;
        cursor: pointer;
        outline: none;
        border: none;
        margin-bottom: 20px;
        height: 40px;
        background-color: #fff;
        color: #058d66;
        width: 128px;
        height: 48px;
      }
      button:hover {
        background-color: rgb(232, 255, 232);
        transition: 2s;
      }
    }
  }
  #card-content:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
  }
}
