*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border: hidden;
  border: 0px;
}

header {
  position: fixed;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  z-index: 2;
  background-color: white;
}
header .header-dropdown-hover {
  width: 100%;
  border-top: rgb(231, 231, 231) solid 1px;
  background-color: white;
  display: none;
}
header .header-dropdown-hover .dropdown-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: rgb(197, 197, 197) 1px solid;
  padding-bottom: 40px;
}
header .header-dropdown-hover .dropdown-container .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
header .header-dropdown-hover .dropdown-container .dropdown-content a {
  color: gray;
  background-color: transparent;
  text-decoration: none;
  font-size: 24px;
  margin-top: 20px;
}
header .header-dropdown-hover .dropdown-container .dropdown-content a:hover {
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

#header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
}
#header-nav .logo-nav-tabs {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  margin-left: 20px;
}
#header-nav .logo-nav-tabs img {
  margin-right: 40px;
  margin-left: 20px;
  cursor: pointer;
}
#header-nav .logo-nav-tabs .nav-tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  color: gray;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 14px;
}
#header-nav .logo-nav-tabs .nav-tab-header:hover {
  border-bottom: rgb(0, 138, 0) solid 1.5px;
  background-color: rgb(244, 255, 244);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  color: black;
}
#header-nav .online-bank {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
#header-nav .online-bank .dropdown-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 350px;
  top: 58px;
  right: 20px;
  background-color: white;
  padding: 10px;
  display: none;
}
#header-nav .online-bank .dropdown-button button {
  border: none;
  background-color: white;
  margin-top: 20px;
  text-align: left;
  width: 100%;
}
#header-nav .online-bank .dropdown-button button a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
#header-nav .online-bank .dropdown-button button:hover {
  background-color: rgb(241, 241, 241);
  -webkit-transition: 1s;
  transition: 1s;
}
#header-nav .online-bank .choose-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 20px;
  background-color: #058d66;
  border: 0px;
  width: 150px;
  height: 40px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  outline: none;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}
#header-nav .online-bank .choose-button img {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}
#header-nav .online-bank .choose-button:hover {
  background-color: #00af7e;
  -webkit-transition: 1s;
  transition: 1s;
}

footer {
  margin-top: 100px;
}
footer .footer {
  border-top: solid 1px gray;
}
footer .footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .footer p {
  color: grey;
  font-size: 12px;
}
footer .container {
  margin-top: 50px;
}
footer .container .footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container .footer-icons img {
  width: 24px;
  height: 24px;
}
footer .container .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container .main ul {
  margin-top: 50px;
}
footer .container .main ul a {
  text-decoration: none;
  padding: 10px 16px;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
}
footer .container .main ul h5 {
  font-size: 14px;
  color: black;
  padding: 10px 16px;
}
footer .container .main ul li {
  line-height: 50px;
  width: 220px;
  font-size: 14px;
  color: grey;
}
footer .container .main ul li:hover {
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
footer .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .container .header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .container .header div span {
  font-size: 12px;
  color: grey;
}
footer .container .header img {
  width: 120px;
  height: 56px;
}

#slider-main {
  height: 504px;
  z-index: 1;
}
#slider-main .carousel-indicators li {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  border: 2px solid #007d57;
  opacity: 0.24;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
#slider-main .carousel-indicators li:active {
  opacity: 1;
}
#slider-main .carousel-item {
  height: 504px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
#slider-main .carousel-item .carousel-content {
  margin-top: 100px;
  height: 404px;
}
#slider-main .carousel-item .carousel-content h1 {
  color: black;
}
#slider-main .carousel-item .carousel-content p {
  color: gray;
  margin-top: 50px;
  margin-bottom: 100px;
}
#slider-main .carousel-item .carousel-content a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 150px;
  height: 70px;
  padding: 16px;
  background: #058d66;
  color: #fff;
}
#slider-main .carousel-item .carousel-content #info-slider-btn {
  background-color: transparent;
  outline: auto;
  border: 1px solid green;
  color: #007d57;
  border: #00af7e;
}
#slider-main .carousel-item .carousel-content a:hover {
  background-color: #00af7e;
  -webkit-transition: 1s;
  transition: 1s;
}
#slider-main .carousel-item img {
  height: 504px;
}

#owners-business-solve {
  margin-top: 120px;
}
#owners-business-solve .container .solve-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
#owners-business-solve .container .solve-actions a {
  color: inherit;
  text-decoration: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#owners-business-solve .container .solve-actions .action:hover {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
}
#owners-business-solve .container .solve-actions .action {
  border-radius: 8px;
  background-color: #fff;
  min-width: 311px;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  padding: 24px 24px 16px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  margin-right: 24px;
}
#owners-business-solve .container .solve-actions .action img {
  height: 40px;
  width: 40px;
  margin-bottom: 30px;
}
#owners-business-solve .container .solve-actions .action ul {
  margin-top: 40px;
}
#owners-business-solve .container .solve-actions .action li {
  background: url(https://sme.pashabank.az/themes/sme/assets/images/done.svg) no-repeat 0;
  background-size: 20px;
  background-position-y: top;
  padding: 0 28px;
  display: list-item;
  text-align: -webkit-match-parent;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 16px;
}
#owners-business-solve .container .solve-actions .action .action-link-success {
  margin-top: 30px;
}
#owners-business-solve .container .solve-actions .action:hover {
  cursor: pointer;
}

#business-develop-tools {
  margin-top: 100px;
}
#business-develop-tools .development-tools {
  margin-top: 50px;
}
#business-develop-tools .development-tools .tools-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#business-develop-tools .development-tools .tools-row a {
  color: inherit;
  text-decoration: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
#business-develop-tools .development-tools .tools-row .dev-tool:hover {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
}
#business-develop-tools .development-tools .tools-row .dev-tool {
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 24px 24px 16px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: 100%;
}
#business-develop-tools .development-tools .tools-row .tool-6-1 {
  margin-bottom: 24px;
  width: calc(50% - 12px);
  background-color: #e7f4f9;
  background-image: url(https://sme.pashabank.az/themes/sme/assets/images/main-page/pos-terminal.png);
  padding-right: 280px;
  height: 350px;
}
#business-develop-tools .development-tools .tools-row .tool-6-2 {
  margin-bottom: 24px;
  width: calc(50% - 12px);
  background-color: #ffebf0;
  background-image: url(https://sme.pashabank.az/themes/sme/assets/images/main-page/business-cards.png);
  padding-right: 280px;
  height: 350px;
}
#business-develop-tools .development-tools .tools-row .tool-4-1 {
  width: calc(33.33333% - 16px);
  background-color: #fdf6e7;
  background-image: url(https://sme.pashabank.az/themes/sme/assets/images/main-page/factoring.png);
  padding-right: 150px;
}
#business-develop-tools .development-tools .tools-row .tool-4-2 {
  width: calc(33.33333% - 16px);
  background-color: #e0f3ed;
  background-image: url(https://sme.pashabank.az/themes/sme/assets/images/main-page/e-commerce.png);
  padding-right: 150px;
  background-position: 100% 100%;
}
#business-develop-tools .development-tools .tools-row .tool-4-3 {
  width: calc(33.33333% - 16px);
  background-color: #f4f5f4;
  background-image: url(https://sme.pashabank.az/themes/sme/assets/images/main-page/bank-guarantee.png);
  padding-right: 150px;
}

#innovative-solves {
  margin-top: 70px;
  background: url(https://sme.pashabank.az/themes/sme/assets/images/main-page/online-bank.png);
  background-size: 739px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
#innovative-solves .container .solve-text {
  margin-top: 40px;
}

#package-rates {
  margin-top: 100px;
}
#package-rates p {
  color: gray;
  margin-top: 20px;
}
#package-rates .modal-content {
  width: 800px;
  left: -150px;
}
#package-rates .modal-footer .modal-account-create-btn {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 100px;
  height: 50px;
  padding: 16px;
  background: #058d66;
  color: #fff;
  z-index: 1050;
}
#package-rates .modal-body table {
  width: 100%;
}
#package-rates .modal-body table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px rgb(245, 245, 245) solid;
}
#package-rates .modal-body table tr td {
  width: 50%;
  margin-top: 20px;
  padding: 10px;
}
#package-rates .modal-body table tr .green-td {
  color: #058d66;
}
#package-rates .modal-body table tr .upper-green-td {
  font-size: 32px;
  color: #058d66;
}
#package-rates .packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
#package-rates .packages .package-info {
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  margin-right: 24px;
  padding: 24px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 368px;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-shadow: 2px;
          box-shadow: 2px;
}
#package-rates .packages .package-info ul {
  display: block;
  list-style-type: disc;
  list-style: none;
}
#package-rates .packages .package-info ul li {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 16px;
  background: url(https://sme.pashabank.az/themes/sme/assets/images/done.svg) no-repeat 0;
  background-size: 20px;
  background-position-y: top;
  padding: 0 28px;
}
#package-rates .packages .package-info ul li span {
  color: green;
}
#package-rates .packages .package-info h5 {
  margin-bottom: 20px;
}
#package-rates .packages .package-info .price-package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#package-rates .packages .package-info .price-package h1 {
  font-size: 80px;
  font-weight: lighter;
}
#package-rates .packages .package-info .price-package img,
#package-rates .packages .package-info .price-package span {
  margin-top: 30px;
}
#package-rates .packages .package-info .package-action-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#package-rates .packages .package-info .package-action-btn a,
#package-rates .packages .package-info .package-action-btn button {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 20px;
  height: 40px;
}
#package-rates .packages .package-info .package-action-btn .more-info-btn {
  background-color: #fff;
  color: #058d66;
}
#package-rates .packages .package-info .package-action-btn .more-info-btn:hover {
  background-color: rgb(232, 255, 232);
  -webkit-transition: 2s;
  transition: 2s;
}
#package-rates .packages .package-info .package-action-btn .create-account-btn {
  background: #058d66;
  color: #fff;
  text-align: center;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

#mobile-app-ad {
  background-color: #fff;
  background-image: url(https://sme.pashabank.az/themes/sme/assets/images/mobile-image.svg);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
  margin-top: 100px;
  height: 400px;
}
#mobile-app-ad .container {
  padding: 50px;
}
#mobile-app-ad .container p {
  margin-top: 30px;
}
#mobile-app-ad .container .mobile-app-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
}
#mobile-app-ad .container .mobile-app-download .download-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#mobile-app-ad .container .mobile-app-download .download-btn img {
  height: 50px;
  margin-top: 15px;
}
#mobile-app-ad .container .mobile-app-download .qr-code-download {
  margin-left: 20px;
  margin-top: 15px;
}
#mobile-app-ad .container .mobile-app-download .qr-code-download img {
  height: 115px;
}

#currency-exchange .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
#currency-exchange .container a {
  color: inherit;
  text-decoration: inherit;
}
#currency-exchange .container .link-currency {
  margin-top: 40px;
  color: #099a71;
}
#currency-exchange .container .header span {
  font-size: 14px;
}
#currency-exchange .container .currency-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
#currency-exchange .container .currency-table .table {
  width: 48%;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  height: 248px;
  padding: 20px;
}
#currency-exchange .container .currency-table .table table {
  width: 100%;
  height: 100%;
  border-color: white;
}
#currency-exchange .container .currency-table .table table th {
  font-size: 14px;
  color: gray;
  font-weight: 500;
  border: 1px white solid;
}
#currency-exchange .container .currency-table .table table td {
  font-size: 30px;
  border: 1px white solid;
}

#latest-news {
  padding: 80px;
}
#latest-news .container a {
  color: inherit;
  text-decoration: inherit;
}
#latest-news .container a:hover {
  color: rgb(46, 179, 117);
  -webkit-transition: 1s;
  transition: 1s;
}
#latest-news .container .link-news {
  margin-top: 80px;
}
#latest-news .container .link-news a {
  color: rgb(14, 155, 14);
}
#latest-news .container .news {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#latest-news .container .news .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#account-image .image {
  height: 504px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
#account-image .image .image-content {
  position: relative;
  top: 50px;
  height: 404px;
}
#account-image .image .image-content ul {
  display: block;
  list-style-type: disc;
  list-style: none;
}
#account-image .image .image-content ul li {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 16px;
  background: url(https://sme.pashabank.az/themes/sme/assets/images/done.svg) no-repeat 0;
  background-size: 20px;
  background-position-y: top;
  padding: 0 28px;
}
#account-image .image .image-content ul li span {
  color: green;
}
#account-image .image .image-content h1 {
  color: black;
  font-size: 50px;
}
#account-image .image .image-content p {
  color: gray;
  margin-top: 50px;
  margin-bottom: 80px;
}
#account-image .image .image-content a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 150px;
  height: 70px;
  padding: 16px;
  background: #058d66;
  color: #fff;
}

#be-customer {
  margin-top: 50px;
}
#be-customer p {
  margin-top: 30px;
}
#be-customer a {
  color: black;
  text-decoration: none;
  background-color: transparent;
}
#be-customer .be-customer-guide {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#be-customer .be-customer-guide .guide {
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  border-radius: 8px;
  width: 358px;
  height: 176px;
  padding: 24px;
}
#be-customer .be-customer-guide .guide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#be-customer .be-customer-guide .guide a .guide-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
#be-customer .be-customer-guide .guide a .guide-row img {
  margin-left: 80px;
  height: 68px;
  width: 63px;
}
#be-customer .be-customer-guide .guide:hover {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
}

#account-advantages {
  margin-top: 50px;
}
#account-advantages .advantage-list {
  margin-top: 30px;
}
#account-advantages .advantage-list .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
#account-advantages .advantage-list .advantage img {
  height: 67px;
  width: 62px;
  margin-right: 20px;
}

#starting-business-question {
  background-image: url(https://sme.pashabank.az/themes/sme/assets/images/accounts/kob-bg.jpg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 456px;
  margin-top: 100px;
}
#starting-business-question .container {
  padding: 70px;
}
#starting-business-question .container h1 {
  font-size: 48px;
}
#starting-business-question .container a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 194px;
  height: 70px;
  padding: 16px;
  background: #058d66;
  color: #fff;
}
#starting-business-question .container .question-row {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin-bottom: 80px;
}
#starting-business-question .container .question-row .question-column p {
  font-size: 16px;
}
#starting-business-question .container .question-row .question-column span {
  font-size: 24px;
}

#most-asked-questions {
  padding: 50px;
}
#most-asked-questions .accordion-questions {
  width: 100%;
}
#most-asked-questions .accordion-questions .question-acc {
  border-radius: 6px;
  border: 1px solid #d6d7d6;
  padding: 16px 20px 16px 16px;
  background-color: #fff;
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
#most-asked-questions .accordion-questions .question-acc .question-text a {
  color: rgb(104, 179, 104);
}
#most-asked-questions .accordion-questions .question-acc img {
  width: 18.67px;
  height: 18.67px;
}

#card-offer {
  margin-top: 40px;
}
#card-offer .offer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#card-offer .offer-content .card-offer-content h1 {
  margin-bottom: 30px;
}
#card-offer .offer-content .card-offer-content h5 {
  margin-bottom: 20px;
}
#card-offer .offer-content .card-offer-content p {
  margin-bottom: 80px;
}

#offered-business-cards {
  margin-top: 50px;
}
#offered-business-cards .card-content {
  padding: 40px 24px 40px 32px;
  margin-bottom: 32px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 8px;
  background-color: #fff;
}
#offered-business-cards .card-content .card-content-dropdown {
  margin-left: 30px;
  border-top: rgb(221, 221, 221) 1px solid;
}
#offered-business-cards .card-content .card-content-dropdown .card-content-dropdown-bottomtext {
  color: gray;
  margin-top: 20px;
}
#offered-business-cards .card-content .card-content-dropdown .card-content-dropdown-bottomtext h6 {
  color: rgb(92, 92, 92);
}
#offered-business-cards .card-content .card-content-dropdown .card-serve-list {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#offered-business-cards .card-content .card-content-dropdown .card-serve-list .serve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 48%;
  margin-top: 20px;
}
#offered-business-cards .card-content .card-content-dropdown .card-serve-list .serve img {
  margin-right: 20px;
  height: 67px;
  width: 67px;
}
#offered-business-cards .card-content .card-content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#offered-business-cards .card-content .card-img {
  width: 40%;
}
#offered-business-cards .card-content .card-information .card-deadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#offered-business-cards .card-content .card-information .card-deadline p {
  color: gray;
}
#offered-business-cards .card-content .card-information .card-deadline span {
  font-weight: 500;
}
#offered-business-cards .card-content .card-info-buttons {
  margin-top: 40px;
}
#offered-business-cards .card-content .card-info-buttons a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 128px;
  height: 48px;
  padding: 16px;
  background: #058d66;
  color: #fff;
}
#offered-business-cards .card-content .card-info-buttons a:hover {
  background-color: #00af7e;
  -webkit-transition: 1s;
  transition: 1s;
}
#offered-business-cards .card-content .card-info-buttons button {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 20px;
  height: 40px;
  background-color: #fff;
  color: #058d66;
  width: 128px;
  height: 48px;
}
#offered-business-cards .card-content .card-info-buttons button:hover {
  background-color: rgb(232, 255, 232);
  -webkit-transition: 2s;
  transition: 2s;
}
#offered-business-cards #card-content:hover {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
}

#how-to-order-card {
  margin-top: 50px;
}
#how-to-order-card .order-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
#how-to-order-card .order-steps .step-img {
  margin-bottom: 30px;
}
#how-to-order-card .order-steps .step-img h5 {
  margin-bottom: 20px;
}
#how-to-order-card .order-steps img {
  height: 67px;
  width: 67px;
}
#how-to-order-card .order-steps .step {
  width: 30%;
}

#advantages-of-cards {
  margin-top: 50px;
}
#advantages-of-cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#advantages-of-cards .container .advantage-div {
  padding: 24px;
  margin-right: 24px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  height: 176px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  width: 30%;
}
#advantages-of-cards .container .advantage-div img {
  width: 107px;
  height: 40px;
}
#advantages-of-cards .container .advantage-div p {
  font-size: 24px;
  margin-top: 20px;
}
#advantages-of-cards .container .advantage-div:hover {
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 0, 0, 0.03);
}

#advantages-of-salary-cards {
  margin-top: 80px;
}
#advantages-of-salary-cards .tab-nav-contents .tab-content-1,
#advantages-of-salary-cards .tab-nav-contents .tab-content-2 {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#advantages-of-salary-cards .tab-nav-contents .tab-content-1 .content-advantage,
#advantages-of-salary-cards .tab-nav-contents .tab-content-2 .content-advantage {
  overflow: hidden;
  border-radius: 8px;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #fff;
  height: 156px;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  padding: 24px;
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#advantages-of-salary-cards .tab-nav-button {
  margin-top: 30px;
  border-bottom: 1px rgb(212, 212, 212) solid;
}
#advantages-of-salary-cards .tab-nav-button button {
  margin-right: 32px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight: 500;
  padding: 0 8px 12px;
  border: none;
  outline: none;
  background-color: transparent;
  color: gray;
}
#advantages-of-salary-cards .tab-nav-button .button-1 {
  color: black;
  border-bottom: 2px green solid;
}

#advantages-of-salary-cards .table-1 tr {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgb(206, 206, 206);
}
#advantages-of-salary-cards .table-1 tr th {
  width: 40%;
  height: 20px;
}
#advantages-of-salary-cards .table-1 tr td {
  width: 40%;
}
#advantages-of-salary-cards .table-1 tr .width-100 {
  width: 100% !important;
}

#advantages-of-salary-cards .table-2 tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: rgb(206, 206, 206) 1px solid;
  padding: 20px;
}
#advantages-of-salary-cards .table-2 tr th {
  width: 40%;
}
#advantages-of-salary-cards .table-2 tr td {
  width: 40%;
}
#advantages-of-salary-cards .table-2 tr .width-100 {
  width: 100% !important;
}

#rates-package-salary .container .salary-package-foot {
  height: 100%;
}
#rates-package-salary .container .salary-package-foot .btn-margin {
  margin-top: 75px;
}
#rates-package-salary .container .salary-package-foot .btn-order-foot {
  width: 100%;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#rates-package-salary .container .salary-package-foot a {
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  border: none;
  width: 80%;
  height: 50px;
  padding: 16px;
  background: #058d66;
  color: #fff;
}
#rates-package-salary .container .salary-package-foot a:hover {
  background-color: #00af7e;
  -webkit-transition: 1s;
  transition: 1s;
}
#rates-package-salary .container .salary-package-foot .package-foot {
  padding: 24px;
}
#rates-package-salary .container .salary-package-foot .package-foot .btn-margin {
  margin-top: 130px;
}
#rates-package-salary .container .salary-package-foot .package-foot ul {
  display: block;
  list-style-type: disc;
  list-style: none;
}
#rates-package-salary .container .salary-package-foot .package-foot ul li {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  margin-bottom: 16px;
  background: url(https://sme.pashabank.az/themes/sme/assets/images/done.svg) no-repeat 0;
  background-size: 20px;
  background-position-y: top;
  padding: 0 28px;
}
#rates-package-salary .container .salary-package-foot .package-foot ul li span {
  color: green;
}
#rates-package-salary .container .salary-package-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#rates-package-salary .container .salary-package-main .salary-package-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#rates-package-salary .container .salary-package-main .salary-package-prices .price-pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 10px;
}
#rates-package-salary .container .salary-package-main .salary-package-prices .price-pack span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(2, 190, 2);
  font-size: 24px;
}
#rates-package-salary .container .salary-package-main .salary-package-prices .price-pack .price-pack-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20px;
}
#rates-package-salary .container .salary-package-main .salary-package-prices .price-pack .price-pack-row img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
#rates-package-salary .container .price-pack-row-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px rgb(216, 216, 216) solid;
  border-top: 1px rgb(216, 216, 216) solid;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#rates-package-salary .container .price-pack-row-bottom p {
  color: gray;
}
#rates-package-salary .container .price-pack-row-bottom span {
  color: gray !important;
}
#rates-package-salary .container .price-pack-row-bottom p {
  margin-top: 10px;
}
#rates-package-salary .container .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#rates-package-salary .container .row-2 .price-pack-row {
  margin-top: 10px;
}
#rates-package-salary .container .margin-span {
  margin-top: 20px;
}
#rates-package-salary .container .price-pack-row img {
  width: 10px;
  height: 10px;
}
#rates-package-salary .container .salary-packages-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#rates-package-salary .container .salary-package {
  padding: 32px 0 24px;
  background-color: #fff;
  border-radius: 8px;
  position: relative;
  margin-top: 15px;
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
  margin-right: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 32%;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.margin-top-7 {
  margin-top: 60px;
}

.padding-bottom-6 {
  padding-bottom: 50px;
}

.padding-bottom-8 {
  padding-bottom: 60px;
}

.padding-top-7 {
  padding-top: 55px;
}

.margin-bottom-4 {
  margin-bottom: 40px;
}

#business-loan-without-bail-calculator {
  background-color: #fff;
  -webkit-box-shadow: 2px 5px 7px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 2px 5px 7px 0 rgba(0, 0, 0, 0.07);
}

.result-show-tabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator-success-text {
  color: #099a71;
}

.price-amount-slider {
  position: relative;
}
.price-amount-slider input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: hidden;
  background: transparent;
  height: 26px;
  position: relative;
  top: -16px;
  left: 16px;
  z-index: 1;
  width: calc(100% - 36px);
  outline: none;
}
.price-amount-slider input[type=range]::-ms-thumb {
  border: 2px solid #fff;
  height: 16px;
  width: 16px;
  margin-top: -4px;
  border-radius: 50%;
  background: #099a71;
  cursor: pointer;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.price-amount-slider input[type=range]::-webkit-slider-thumb {
  outline: none;
  -webkit-appearance: none;
  margin-top: -4px;
  border: 2px solid #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #099a71;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}
.price-amount-slider input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  border: 2px solid #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #099a71;
  cursor: pointer;
}
.price-amount-slider input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  border: 2px solid #fff;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #099a71;
  cursor: pointer;
}
.price-amount-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #fff;
  border-radius: 0;
  border: 0;
  padding: 0;
}
.price-amount-slider input[type=range]::-ms-fill-lower,
.price-amount-slider input[type=range]::-ms-fill-upper {
  background: #007d57;
  border: 0.2px solid #010101;
}
.price-amount-slider input[type=range]:focus::-ms-fill-lower,
.price-amount-slider input[type=range]:focus::-ms-fill-upper {
  background: #007d57;
}

.price-amount-slider-text {
  background-color: #fff;
  border: 1px solid #d6d7d6;
  border-radius: 6px;
  padding: 12px 20px 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.price-amount-slider-text label {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
}
.price-amount-slider-text input {
  font-family: Gothic A1;
  font-size: 15px;
  font-weight: 500;
  background: transparent;
  padding: 4px 0 0;
  border: none;
  outline: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.price-amount-slider-text div {
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 22px;
}

#getting-business-credit {
  margin-top: 40px;
}
#getting-business-credit .getting-credit-step {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#getting-business-credit .getting-credit-step .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#getting-business-credit .getting-credit-step .step img {
  margin-right: 20px;
}

#what-customers-say {
  margin-top: 50px;
}
#what-customers-say .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}
#what-customers-say .container .customer-say-video {
  background-image: url(https://i.ytimg.com/vi/E2GTbcJnkSU/sddefault.jpg?sqp=-oaymwEmCIAFEOAD8quKqQMa8AEB-AH-CYAC0AWKAgwIABABGH8gTigmMA8=&rs=AOn4CLAYt01MlJpr_ULgclZXOPIpq3qYmg);
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
#what-customers-say .container .customer-say-video img {
  height: 67px;
  width: 100px;
}
#what-customers-say .container .customer-say-video .video-button button {
  border: none;
  outline: none;
  background-color: green;
  color: white;
  height: 50px;
  padding: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
#what-customers-say .container .customer-say-text {
  width: 48%;
}
#what-customers-say .container .customer-say-text h2 {
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#what-customers-say .container .customer-say-text p {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#what-customers-say .container .customer-say-text div p {
  font-size: 10px;
  margin-top: -15px;
}
#what-customers-say .container .customer-say-text div span {
  font-size: 24px;
}
#what-customers-say .container .customer-say-video {
  width: 48%;
}

#are-you-our-customer-image {
  height: 504px;
  background-color: rgb(247, 255, 247);
  background-image: url(https://sme.pashabank.az/themes/sme/assets/images/online-business-credit/zero_step.png);
  background-position: 30%;
  background-repeat: no-repeat;
  margin-top: 120px;
}
#are-you-our-customer-image .container {
  height: 504px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#are-you-our-customer-image .container .image-text h4 {
  font-size: 32px;
  margin-bottom: 50px;
}
#are-you-our-customer-image .container .image-text p {
  font-size: 14px;
  margin-bottom: 30px;
  color: gray;
}
#are-you-our-customer-image .container .image-text h6 {
  font-size: 20px;
}
#are-you-our-customer-image .container .image-text .text-btn {
  margin-top: 50px;
}
#are-you-our-customer-image .container .image-text .text-btn a {
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
  margin-right: 20px;
}

body {
  font-family: Gothic A1;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

body {
  line-height: 1;
}

main {
  background-color: #fafafa;
}

main {
  position: relative;
  top: 75px;
}