#account-advantages{
    margin-top: 50px;
    .advantage-list{
        margin-top: 30px;
        .advantage{
            display: flex;
            margin-top: 20px;
            img{
                height: 67px;
                width: 62px;
                margin-right: 20px;
            }
        }


    }
}