#advantages-of-salary-cards {
  margin-top: 80px;
  .tab-nav-contents {
    .tab-content-1,
    .tab-content-2 {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      .content-advantage {
        overflow: hidden;
        border-radius: 8px;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
        background-color: #fff;
        height: 156px;
        margin-bottom: 24px;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.07);
        padding: 24px;
        width: 32%;
        display: flex;
      }
    }
  }
  .tab-nav-button {
    margin-top: 30px;
    border-bottom: 1px rgb(212, 212, 212) solid;
    button {
      margin-right: 32px;
      font-size: 15px;
      line-height: 24px;
      letter-spacing: 0.15px;
      font-weight: 500;
      padding: 0 8px 12px;
      border: none;
      outline: none;
      background-color: transparent;

      color: gray;
    }
    .button-1 {
      color: black;
      border-bottom: 2px green solid;
    }
  }
}

#advantages-of-salary-cards{
  .table-1{
    tr{
     padding: 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(206, 206, 206);
      th{
         width: 40%;
         height: 20px;
      }
      td{
        width: 40%;
      }
      .width-100{
        width: 100%!important;
      }
  }
}
}

#advantages-of-salary-cards{
  .table-2{
    tr{
      display: flex;
      justify-content: space-between;
      border-bottom: rgb(206, 206, 206) 1px solid;
      padding: 20px;
      th{
         width: 40%;
      }
      td{
        width: 40%;
      }
      .width-100{
        width: 100%!important;
      }
  }
}
}