#documents-needed {
    padding-bottom: 100px;
    padding-top: 50px;
    h2{
        margin-bottom: 50px;
    }
  .documents-row {
    display: flex;
    justify-content: space-between;
    .document {
      box-shadow: 0 2px 8px rgba(52, 56, 54, 0.05);
      background-color: #fff;
      border-radius: 6px;
      overflow: hidden;
      width: 31%;
      padding: 10px;
      p{
        margin-bottom: 30px;
      }
      a{
        color: green;
        text-decoration: none;
      }
    }
  }
}
