#getting-business-credit{
    margin-top: 40px;
    .getting-credit-step{
        margin-top: 50px;
        display: flex;
        .step{
            display: flex;
            align-items: center;
            img{
                margin-right: 20px;
            }

        }
    }
}