#innovative-solves{
    margin-top: 70px;
    background: url(https://sme.pashabank.az/themes/sme/assets/images/main-page/online-bank.png);
    background-size: 739px;
    background-repeat: no-repeat;
    background-position: 100% 0;
    
    .container{
     .solve-text{
        margin-top: 40px;
     }
    }
}